* {
    margin: 0;
    padding: 0;
}
html {
    height: 100%;
}
body {
    margin: auto auto;
    height: 100%;
}
main {

    background: linear-gradient(-45deg, black, lightgrey);
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}
.center-block-main {
    margin: auto auto;
    width: 227px;
    height: 240px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;


}
h1 {
    color: whitesmoke;
    font-weight: normal;
    text-align: center;
    margin-bottom: 30px;
    font-size: 3em;


}
.input-login {
    background: gray;
    width: 227px;
    padding: 10px 0;
    margin-bottom: 20px;
    border: 1px solid lightgrey;
    border-radius: 5px;
    box-sizing: border-box;
    text-align: center;
    color: whitesmoke;


}
::-webkit-input-placeholder {
    color:whitesmoke;
}


.input-pass {
    background: gray;
    width: 227px;
    padding: 10px 0;
    margin-bottom: 20px;
    border: 1px solid lightgrey;
    border-radius: 5px;
    box-sizing: border-box;
    text-align: center;
    color: whitesmoke;


}
.btn-login {
    width: 227px;
    padding: 10px 0;
    border: 1px solid whitesmoke;
    border-radius: 5px;
    background: whitesmoke;

}
.btn-login:hover {
    background: lightgrey;
    border-color: lightgrey;
}